<!DOCTYPE html>
<html>
<head>
<title>Videos</title>
<meta charset="UTF-8">
<style>
body {
    font-family: Calibri, Arial, sans;
}

li.folder {
    margin-top: 1ex;
    margin-bottom: 1ex;
    list-style: none;
}

.foldername {
    font-size: 1.2em;
    font-weight: bold;    
}

li.file {
    list-style: none;
}

.action {
    font-weight: bold;
    cursor: pointer;
}

</style>
</head>
<body>

  <p>
    <span id="expand" class="action">expand</span> /
    <span id="collapse" class="action">collapse</span> all
  </p>

{{ define "directory" }}
    {{ range .Files }}
        <li class="file"> <a href="{{.Link}}"> {{.Name}} </a> </li> 
    {{ end }}
    {{ if (len .Directories) gt 0 }} {{ range .Directories }}
        <li class="folder"> <span class="foldername action">{{ .Name }}</span>
            <ol>
                {{ template "directory" . }}
            </ol>
        </li> 
    {{ end }} {{ end }}
{{ end }}

<ol id="root">
{{ template "directory" . }}
</ol>

    <script src="jquery-3.3.1.min.js"></script>
    <script>
    $("span.foldername").click(function(e) {
        $(this).parent().children("ol").toggle(200);
    });

    $("#expand").click(function(e) {
        $("#root").find("ol").show();
    });

    $("#collapse").click(function(e) {
        $("#root").find("ol").hide();
    });
    </script>
</body>
</html>
